// colors
$color-foreground: #000;
$color-foreground-dark: #00000099;
$color-foreground-darker: #000000cc;
$color-foreground-light: #00000022;
$color-foreground-lighter: #00000011;

$color-background: #fff;
$color-background-light: #fff;
$color-background-dark: #f5f5f5;
$color-background-darker: #e6e6e6;

$color-accent: #5d64ea;
