body {
  overflow-x: hidden;
}

.columns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.column {
  flex: 22.5%;
  max-width: 22.5%;
  padding: 0 0.5rem;
}
.column img {
  margin-top: 1rem;
  vertical-align: middle;
  width: 100%;
}

.upload {
  pointer-events: none;
  position: absolute;
  z-index: 999;
}
.upload input {
  opacity: 0;
  width: 100vw;
  height: 100vh;
}

h2 {
  color: #00000030;
}

@media only screen and (max-width: 1300px) {
  .column {
    flex: 100%;
    max-width: 30%;
  }
}
@media only screen and (max-width: 1000px) {
  .column {
    flex: 37.5%;
    max-width: 50%;
  }
}
@media only screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 100%;
  }
}
