@import "https://rsms.me/inter/inter.css";
html {
  font-family: "Helvetica Neue", "Helvetica", "Inter", sans-serif;
  overflow-x: hidden;
}
html a {
  color: #bd2828;
  text-decoration: none;
}
html a:hover {
  border-bottom: 2px solid #bd2828;
}
html header {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 2.5rem;
  border-bottom: 2px solid #00000022;
}
html header .title {
  margin: 0 1rem;
}

.columns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 0 1rem 0;
}

.column {
  flex: 22.5%;
  max-width: 22.5%;
  padding: 0 0.5rem;
}
.column img {
  margin-top: 1rem;
  vertical-align: middle;
  width: 100%;
}
.column .new_img {
  opacity: 0;
}

/*.upload {
    pointer-events: none;
    position: absolute;
    z-index: 999;

    input {
        opacity: 0;
        width: 100vw;
        height: 100vh;
    }
}*/
@media only screen and (max-width: 1300px) {
  .column {
    flex: 100%;
    max-width: 30%;
  }
}
@media only screen and (max-width: 1000px) {
  .column {
    flex: 37.5%;
    max-width: 50%;
  }
}
@media only screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 100%;
  }
}
